<h3><%= title %></h3>
<img src="${ require('../assets/moive.png') }" width="500">
<img src="${ require('../assets/icon.png') }">
<ul>
  <% for(var x=0; x<arr.length; x++) { %>
    <li><%= arr[x] %></li>
  <% } %>
</ul>  